<!DOCTYPE html>
<html>
<head>
	<title>Chat IO</title>
	<link rel="stylesheet" href="style.css">
	</link>
</head>
<body>
	<div id="container">
		<div id="usernameWrapper">
			<h3>Chat IO</h3>
			<p>Create Username</p>
			<form id="usernameForm">
				<input type="text" id="username" size="35">
				<input type="submit" value="Submit" id="userSubmit">
			</form>
		</div>
		<div id="mainWrapper">
			<h3>Chat IO</3>
			<div id="chatWrapper">
				<div id="chatWindow">
					<form id="chatForm">
						<input type="text" id="message" size="40" placeholder="Enter message">
						<input type="submit" value="Send" id="messageSubmit">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>